<!DOCTYPE html>
<html>

    <head>
        <% include ../static/partials/head.ejs %>
    </head>

    <body>

        <% include ../static/partials/navbar.ejs %>

        <main class="container">
            
            <h1><%= album.title %></h1>
            <!-- <img src="<%= album.image %>" alt="Cover Image" style="max-height: 675px; border-radius: 15px;"> -->

            <a href="/albums/<%= album.id %>/edit" class="btn btn-warning">Edit</a>
            <form style="display:initial" action="/albums/<%= album.id %>/destroy" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

        </main>

        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>