@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,600');

body {
    padding: 56px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}


/* ------ hero ------ */

.display-3 {
    letter-spacing: -0.1rem;
    font-weight: 200;
}

.lead {
    font-size: 1rem;
    font-weight: 300;
    width: 50%;
}

@media (max-width: 767.98px) {
    .lead {
        font-size: 1rem;
        font-weight: 300;
        width: 75%;
    }
}

@media (max-width: 575.98px) {
    .lead {
        font-size: 1rem;
        font-weight: 300;
        width: 100%;
    }
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 9rem 2rem;
        background-image: url("images/hero-image.png");
    }
}

@media (max-width: 575.98px) {
    .jumbotron {
        padding: 2rem 1rem;
        background-image: url("images/hero-image.png");
    }
}


/* ------ buttons ------ */

.btn-group-lg>.btn, .btn-lg {
    font-size: 1.15rem;
}

.btn-primary {
    color: #fff;
    background-color: #30ba9f;
    border-color: #30ba9f;
}

.btn-primary:hover {
    background-color: #30ba9f;
    border-color: #30ba9f;
}

.btn-primary:active {
    background-color: #30ba9f;
    border-color: #30ba9f;
}

.btn-success {
    color: #fff;
    background-color: #30ba9f;
    border-color: #30ba9f;
}

.btn-success:hover {
    color: #fff;
    background-color: #30ba9f;
    border-color: #30ba9f;
}

.btn-success:active {
    color: #fff;
    background-color: #30ba9f;
    border-color: #30ba9f;
}


/* ------ links ------ */

a {
    color: #343a40;
    text-decoration: none;
}

a:hover {
    color: #30ba9f;
    text-decoration: none;
}

a:active {
    color: #30ba9f;
    text-decoration: none;
}


/* ------ fonts ------ */

h1 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

h4 {
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
    margin-bottom: 0px;
}

h5 {
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-bottom: 0px;
}

h6 {
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
}

.post-caption-margin {
    margin-bottom: 1.5rem;
}

ion-icon {
    color: #30ba9f;
}


/* ------ homepage section - create, share, interact ------ */

.col-lg-4 > .icon-left {
    float: left;
}

.col-lg-4 > .description-left {
    padding-left: 50px;
}

.card-title {
    margin-bottom: .5rem;
}

.col-lg-4 {
    margin-bottom: 1.5rem;
}


/* ------ forms ------ */

.form-control-image {
    display: block;
    width: 100%;
    padding: .375rem 0rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/* ------ album image / title columns on albums page ------ */

.list-group {
    margin-top: 1.5rem;
}

.list-group-item {
    margin-top: 5px;
    border: none;
    padding: 0px;
}

.album-image-column {
    float: left;
    margin-right: 15px;
}

.album-title-column {
    height: 55px;
    padding: 10px;
}


/* ------ post image / caption columns on single album page ------ */

.post-image-column {
    float: left;
    margin-right: 15px;
}

.post-image-album-page{
    width: 350px;
    height: 225px;
    object-fit: cover;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .post-caption-column {
        height: 225px;
        padding: 10px;
        display: table-cell;
        vertical-align: middle;
    }
}

@media (max-width: 767.98px) {

    .post-image-album-page{
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 1rem;
    }
}


/* ------ post image on post page ------ */

.post-image-responsive {
    margin-top: 25px;
    margin-bottom: 25px;
}